.bd {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 96px);
	background-color: #f2f2f2;
  }
  
  .form-container {
	display: flex;
	max-width: 800px;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  .left-section {
	flex: 1;
	overflow: hidden;
  }
  
  .left-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .right-section {
	flex: 1;
	padding: 40px;
  }
  
  .right-section h2 {
	margin-bottom: 20px;
	color: #333;
  }
  
  .right-section input, .right-section button {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
  }
  
  .right-section button {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .right-section button:hover {
	background-color: #45a049;
  }
  
  .right-section p { color: #333; }